{% extends 'header/base.html' %}
{% block content %}

<div class="text-center a_image ">
  <img src="/static/image/aboutUs/aboutus.svg" alt="img_aboutUs">
</div>

<div class="aboutus_content">
  
  <div class="aboutus_content">

      <span  class="font">BHOJ (Previously Bhojdeals) is a One stop mobile app for all the foodies in Nepal, 
          where they can search for their favourite restaurants, get food delivered to 
          their home or office,
      </span>

      <span class="font2">
          get awesome deals when they dine-in at the restaurants, 
          read and post restaurant reviews, explore restaurant menu, earn credits to their 
          BhojWallet and much more. You name it! 
      </span>

     

  </div>
</div>
{% endblock %}
