{% extends '/header/base.html' %} {% block content %}

<section class="home" id="home">

  <div class="image">
      <img src="/static/image/home-img.png" alt="home_img">
  </div>

  <div class="content">

      <span>fresh and organic</span>
      <h3>Your daily Products</h3>
      <a href="#" class="btn"> Get started</a>

  </div>

</section>

<!-- Here the body part ends -->

<!-- banner section starts  -->



<section class="banner-container">

  <div class="banner">
      <img src="/static/image/banner-1.jpg" alt="img_banner">

      <div class="content">
          <h3>Special Offer</h3>
          <p>Up to 48% off</p>
          <a href="#" class="btn">Check Out</a>
      </div>

  </div>

  <div class="banner">
      <img src="/static/image/banner-2.jpg" alt="img_banner">

      <div class="content">
          <h3>Limited Offer</h3>
          <p>Up to 50% off</p>
          <a href="#" class="btn">Check Out</a>
      </div>

  </div>

</section>

<!-- catefory starts here -->

<section class="category " id="category">

  <h1 class="heading">Shop by <span>category</span></h1>

  <div class="box-container d-flex justify-content-center">

      <div class="box">
          <h3>Vegitables</h3>
          <p>up to 50% off</p>
          <img src="/static/image/category-1.png" alt="">
          <a href="#" class="btn">Shop now</a>
      </div>

      <div class="box">
          <h3>Juices</h3>
          <p>up to 40% off</p>
          <img src="/static/image/category-2.png" alt="">
          <a href="#" class="btn">Shop now</a>
      </div>

      <div class="box">
          <h3>Meat</h3>
          <p>up to 8% off</p>
          <img src="/static/image/category-3.png" alt="">
          <a href="#" class="btn">Shop now</a>
      </div>

      <div class="box">
          <h3>Fruits</h3>
          <p>up to 10% off</p>
          <img src="/static/image/category-4.png" alt="">
          <a href="#" class="btn">Shop now</a>
      </div>

  </div>

</section>
<!-- catefory emds here -->

<!-- product section start  -->

<section class="product" id="products">
  <h1 class="heading"> latest <span>Products</span></h1>
  <div class="box-container">

      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-1.png" alt="img_product-one">
          <h3>Organic Banana</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>

      <!-- 2 -->
      <div class="box">
          <span class="discount">-31%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-2.png" alt="img_product-two">
          <h3>Organic Tomato</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 200 <span>Rs.400</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>

      <!-- 3 -->

      <div class="box">
          <span class="discount">-13%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-3.png" alt="img_product-one">
          <h3>Organic Orange</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>

      <!-- 4 -->

      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-4.png" alt="img_product-one">
          <h3>Organic milk</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>

      <!-- 5 -->
      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-5.png" alt="img_product-one">
          <h3>Organic Grapes</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>
      <!-- 6 -->
      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-6.png" alt="img_product-one">
          <h3>Organic Almond</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>
      <!-- 7 -->
      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-7.png" alt="img_product-one">
          <h3>Organic Apple</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>
      <!-- 8 -->
      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-8.png" alt="img_product-one">
          <h3>Organic Cheese</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>
      <!-- 9 -->
      <div class="box">
          <span class="discount">-3%</span>
          <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-share"></a>
              <a href="#" class="fas fa-eye"></a>
          </div>

          <img src="/static/image/product-9.png" alt="img_product-one">
          <h3>Organic Carrot</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <div class="price">Rs. 150 <span>Rs.210</span></div>
          <div class="quantity">
              <span>quantity:</span>
              <input type="number" min="1" max="1000" value="1">
              <span>/kg</span>
          </div>

          <a href="#" class="btn">Add to cart</a>

      </div>
  </div>
</section>

<!-- product section ends  -->


<!-- Contact section starts  -->
<section class="contact" id="contact">

  <h1 class="heading"><span>contact</span>us</h1>

  <form action="">
      <div class="inputBox">
          <input type="text" placeholder="name">
          <input type="email" placeholder="email">

      </div>

      <div class="inputBox">
          <input type="number" placeholder="number">
          <input type="text" placeholder="subject">
      </div>

      <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

      <input type="submit" value="sent message" class="btn">

  </form>

</section>


{% endblock %}
