{% load static %}
<section class="footer">
    <div class="box-container">
        <div class="box">
            <p>LLorem ipsum dolor site amet conseteur edipisicing elit. Ipsum iste natus 
            perferendis in sunt ipsum corupti inpedit et exercitionem consequuntur </p>

        </div>
    </div>
    <div class="parallax1">
        <a href="#home" class="logo"> <img src="/static/image/logo.svg"alt="img_logo"></i></a>
        <div class="footer-2">
            <div class="quick-links">
                <div>My company</div>
                <ul>
                    <li><a href="aboutus.html" class="a-links"> About us</a></li>
                    <li><a href="" class="a-links"> FAQs</a></li>
                </ul>
            </div>

            <div class="quick-links">
                <div> Contact </div>
                <ul>
                    <li><a href="" class="a-links"> Help & <br> Support</a></li>
                </ul>
            </div>

            <div class="quick-links">
                <div>Legal</div>
                <ul>
                    <li><a href="" class="a-links"> Terms & <br> conditions</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="copyrights">
        <i class="far fa-copyright fa-1x"></i> 2022 LB Kirana
    </div>


</section>