*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:rgb(219, 226, 226);
}

.row{
    background: white;
    border-radius: 30px;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:#FD7E14;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color:black;
    border: 1px solid;
    border-style: none;
    color: #FD7E14;
}

.set{
    border: 1px solid rgba(50, 131, 61, 0.705); 
    -webkit-box-shadow: -1px 4px 20px 11px rgba(50, 131, 61, 0.705);
    -moz-box-shadow: -1px 4px 20px 11px rgba(50, 131, 61, 0.705);
    box-shadow: -1px 4px 20px 11px rgba(50, 131, 61, 0.705);

}