{% extends 'Admin/base.html' %} {% block content %}

<div class="product">

  <a href="#home"> <img src="/static/image/header/backtotop.png"
      style="width: 3%; position:fixed; top: 640px; left: 1350px; " alt=""> </a>

  <div class="admin-customer pb-2" id="vegetables">

    <div class="col-12 pb-3 d-flex justify-content-center" style="background-color: #68B49D; opacity:0.9;">
      <button class="admin_add_button">
        <h4>Your Customer</h4>
      </button>
    </div>

    <div class="col-log-12 text-center pt-3">

      <table class="table table-bordered border-dark mt-2">
        <thead class="pt-3 ">
          <tr>
            <th scope="col-1" class="py-3 text-black" style="font-size: 20px;">ID</th>
            <th scope="col-1" class="py-3 text-black" style="font-size: 20px;">First Name</th>
            <th scope="col-1" class="py-3 text-black" style="font-size: 20px;">Last Name</th>
            <th scope="col-1" class="py-3 text-black" style=" font-size: 20px;">Email</th>
            <th scope="col-1" class="py-3 text-black" style="font-size: 20px;">Contact</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>

            <th scope="row">{{user.customer_id}}</th>
            <td style=" font:large; color:black;" class="py-3">{{user.customer_fname}}</td>
            <td style=" font:large; color:black;" class="py-3">{{user.customer_lname}}</td>
            <td style=" font:large; color:black;" class="py-3">{{user.email}}</td>
            <td style=" font:large; color:black;" class="py-3">{{user.number}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
  </div>

</div>

{% endblock %}