{% extends 'Admin/base.html' %} {% block content %}

    <!-- BOdy section starts here -->
    <div class="container-content">
        <a href="#Sales">
            <div class="cate_gories">
                <div class="image-one">  </div>
                <div class="image-title" style="font-size:x-large;">Order</div>
                <div class="image-title-2" style="font-size:large">310</div>
            </div>
        </a>

        <a href="#Sales">
            <div class="cate_gories">
                <div class="image-two">  </div>
                <div class="image-title" style="font-size:x-large;">Sales</div>
                <div class="image-title-2" style="font-size:large">Rs.50,000</div>
            </div>
        </a>
        <br>

        <a href="#Sales">
            <div class="cate_gories-2">
                <div class="image-three">  </div>
                <div class="image-title" style="font-size:x-large;">Delivered</div>
            </div>
        </a>

        <a href="#Sales">
            <div class="cate_gories-2">
                <div class="image-four">  </div>
                <div class="image-title" style="font-size:x-large;">Ordered</div>
            </div>
        </a>
    </div>

    <!-- vegitable Starts here -->
    <div class="deal-container" id="vegetables">
        <div class="parallax">
            <div class="title"> VEGETABLES </div>
        </div>

        <div class="container-fluid" style="background-color: #68B49D; width:80%; height: 90px; opacity:0.8;">

            <a href="/admin/product/" ><button class="admin_add_button"  style="text-decoration: none;">Add Your Product</button></a>

        </div>

        <!-- alu -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/alu.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b>Organic Potato (Pahadi Alu)</b> <br>
            <div class="item-select">
                price: Rs.15/250grams
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 grams</option>
                <option> 500 grams</option>
                <option> 750 grams</option>
                <option> 1000 grams</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>

        <!-- pyaj -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/onion.jpg" class="item-image-size" alt="img_onion">
            </div>
            <div class="description">
                <b>Organic Onion (Pyaj)</b> <br>
                <div class="item-select">
                    price: Rs.65/250grams
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 grams</option>
                    <option> 500 grams</option>
                    <option> 750 grams</option>
                    <option> 1000 grams</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- vindi -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/okra.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>Organic Okra (Vindi)</b> <br>
                <div class="item-select">
                    price: Rs.25/250grams
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 grams</option>
                    <option> 500 grams</option>
                    <option> 750 grams</option>
                    <option> 1000 grams</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

    </div>
    <!-- vegitable ends here -->

    <!-- Drinks Starts here -->
    <div class="deal-container" id="drinks">
        <div class="parallax">
            <div class="title"> DRINKS </div>
        </div>
        <div class="container-fluid" style="background-color: #68B49D; width:80%; height: 90px; opacity:0.8;">

            <a href="/admin/product/" ><button class="admin_add_button"  style="text-decoration: none;">Add Your Product</button></a>
        </div>

        <!-- Rum -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/rum.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>Khukuri Rum</b> <br>
                <div class="item-select">
                    price: Rs.490/ 250ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- Vodka -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/vodka.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>8848 Vodka </b> <br>
                <div class="item-select">
                    price: Rs.400 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- Apple cider -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/appli-sider.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> Summerbay </b> <br>
                <div class="item-select">
                    price: Rs.150 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

    </div>
    <!-- Drinks ends here -->

    <!-- Dairy Starts here -->
    <div class="deal-container" id="dairy">
        <div class="parallax">
            <div class="title"> DAIRY </div>
        </div>

        <div class="container-fluid" style="background-color: #68B49D; width:80%; height: 90px; opacity:0.8;">

            <a href="/admin/product/" ><button class="admin_add_button"  style="text-decoration: none;">Add Your Product</button></a>

        </div>

        <!-- Milk -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/milk.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> MILK </b> <br>
                <div class="item-select">
                    price: Rs.45/ 250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- cheese -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/cheese.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHEESE </b> <br>
                <div class="item-select">
                    price: Rs.400 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- ghee -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/ghee.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> GHEE </b> <br>
                <div class="item-select">
                    price: Rs.225 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

    </div>
    <!-- Dairy ends here -->

    <!-- Frozen items Starts here -->
    <div class="deal-container" id="frozen">
        <div class="parallax">
            <div class="title"> FROAENS ITEMS </div>
        </div>

        <div class="container-fluid" style="background-color: #68B49D; width:80%; height: 90px; opacity:0.8;">

            <a href="/admin/product/" ><button class="admin_add_button"  style="text-decoration: none;">Add Your Product</button></a>

        </div>

        <!-- Choco bar -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/choco-bar.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHOCOLATE BARS</b> <br>
                <div class="item-select">
                    price: Rs.150 per piece
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 5</option>
                    <option> 10 </option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- chocolate cake -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/chocolate-cake.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHOCOLATE CAKE </b> <br>
                <div class="item-select">
                    price: Rs.600 /250 pound.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 pound</option>
                    <option> 500 pound</option>
                    <option> 750 pound</option>
                    <option> 1000 pound </option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- chocolate creams -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/choco_cake.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> ICE CREAMS </b> <br>
                <div class="item-select">
                    price: Rs.350 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 5</option>
                    <option> 10</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>
    </div>

    {% endblock %}