{% load static %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static 'css/LBkirana.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/register.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lb Kirana-Dashboard </title>
</head>
<body>
    <!-- This is header section -->
    <div class="head">
        <div class="page-title"> LB Kirana <a href="#home"><img src="/static/image/header/logo.svg" class="logo " alt="img_logo"></a> </div>

    </div>

    <div class="menu"  id="sticky">
        <ul class="menu-ul">

            <a href="/admin/dashboard/" class="a-menu" id="home"><li>DashBoard</li></a>
            <a href="/admin/order/" class="a-menu">
                <li class=" dropdown">
                    <a class="nav-link" style="color: white;"  href="#">Orders</a>
                    <ul class="dropdown-menu">
                        
                      <li ><a class="dropdown-item" href="#">List</a></li>
                      <li><a class="dropdown-item" href="#">Details</a></li>

                    </ul>
                </li>

            </a>
            <a href="/admin/product/" class="a-menu"><li>Products</li>
            </a>
            <a href="/admin/customer/" class="a-menu"><li>Customer</li></a>

        </ul>

        <div class="search-box">
            <form>
                <input type="text" style="position:relative; top: -6px; left: 3px;" placeholder="Search... " name="search" class="search-input"/>
                <button type="submit"> <img src="/static/image/header/search_icon.png" style="width: 80%; height:70%; position:relative; top: -1.2px;"  alt="search_img"> </button>

            </form>
        </div>

    </div>
</body> {% endcomment %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link href="{% static 'css/admin.css' %}" rel="stylesheet">

    <script src="{% static 'js/adminScript.js' %}"></script>


</head>

<body>

    <!-- this is the navbar  -->

    <nav class="navbar navbar-expand-lg navbar-light bg-success fixed-top">
        <div class="container-fluid">
            <!-- offcanvas trigger -->
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
            </button>
            <!-- offcanvas trigger -->
            <a class="navbar-brand fw-bold text-uppercase me-auto " href="#">LB Kirana</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex ms-auto">
                    <div class="input-group my-3 my-lg-0">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn bg-primary" type="button" id="button-addon2"><i
                                class="bi bi-search "></i></button>
                    </div>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile </a></li>
                            <li> <hr class="dropdown-divider"> </li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                            
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>