{% extends 'base.html' %} {% block content %}

<div class="contactus " >
  <section style="margin-right:5rem; margin-left: 5rem">

    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>

    <div class="row mr-3">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Are there any charges for
          registration?</h6>
        <p>
          <strong>No.</strong> Registration on bigbasket.com is absolutely free
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> How do I contact customer
          service?</h6>
        <p>
          Our customer service team is available throughout the week, all seven days from 6 am to 10 pm. They can be
          reached at 18601231000 or via email at
          <strong>tsaroj895@gmail.com</strong>
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> How can I give feedback on the
          quality of customer service?
        </h6>
        <p>
          Our customer support team constantly strives to ensure the best shopping experience for all our customers.
          We would love to hear about your experience with bigbasket.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i>Can I have multiple
          registrations?
        </h6>
        <p>
          Each email address and contact phone number can only be associated with one bigbasket account.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> What is My Account?
        </h6>
        <p><strong>Unfortunately no.</strong> My Account is the section you reach after you log in at
          login/regustration page.
          My Account allows you
          details and order history and update your contact details.</p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>Do you deliver in my area?
        </h6>
        <p>
          You will be able to check this detail at the time of checkout when you enter the address. If we are unable
          to
          deliver in your area - we will inform you before checkout.
        </p>
      </div>
    </div>
  </section>

</div>


 {% endblock %}
  
