{% extends 'base.html' %}
{% block content %}

<section class="home" id="home">

    <div class="image">
        <img src="/static/image/home-img.png" alt="home_img">
    </div>

    <div class="content">

        <span>fresh and organic</span>
        <h3>Your daily Products</h3>
        <a href="#" class="btn"> Get started</a>

    </div>

</section>

<!-- Here the body part ends -->

<!-- banner section starts  -->



<section class="banner-container">

    <div class="banner">
        <img src="/static/image/banner-1.jpg" alt="img_banner">

        <div class="content">
            <h3>Special Offer</h3>
            <p>Up to 48% off</p>
            <a href="#" class="btn">Check Out</a>
        </div>

    </div>

    <div class="banner">
        <img src="/static/image/banner-2.jpg" alt="img_banner">

        <div class="content">
            <h3>Limited Offer</h3>
            <p>Up to 50% off</p>
            <a href="#" class="btn">Check Out</a>
        </div>

    </div>

</section>

<!-- catefory starts here -->

<section class="cat" id="category">

    <h1 class="heading">Shop by <span>category</span></h1>

    <div class="b-container d-flex justify-content-center">

        <div class="box3">
            <h3>Vegitables</h3>
            <p>up to 50% off</p>
            <img src="/static/image/category-1.png" alt="">
            <a href="#" class="btn">Shop now</a>
        </div>

        <div class="box3">
            <h3>Juices</h3>
            <p>up to 40% off</p>
            <img src="/static/image/category-2.png" alt="">
            <a href="#" class="btn">Shop now</a>
        </div>

        <div class="box3">
            <h3>Meat</h3>
            <p>up to 8% off</p>
            <img src="/static/image/category-3.png" alt="">
            <a href="#" class="btn">Shop now</a>
        </div>

        <div class="box3">
            <h3>Fruits</h3>
            <p>up to 10% off</p>
            <img src="/static/image/category-4.png" alt="">
            <a href="#" class="btn">Shop now</a>
        </div>

    </div>

</section>
<!-- catefory emds here -->

<!-- product section start  -->

<section class="prod" id="products">
    <h1 class="heading"> latest <span>Products</span></h1>
    <div class="bp-container">

        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-1.png" alt="img_product-one">
            <h3>Organic Banana</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>

        <!-- 2 -->
        <div class="box2">
            <span class="discount">-31%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-2.png" alt="img_product-two">
            <h3>Organic Tomato</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 200 <span>Rs.400</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>

        <!-- 3 -->

        <div class="box2">
            <span class="discount">-13%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-3.png" alt="img_product-one">
            <h3>Organic Orange</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>

        <!-- 4 -->

        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-4.png" alt="img_product-one">
            <h3>Organic milk</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>

        <!-- 5 -->
        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-5.png" alt="img_product-one">
            <h3>Organic Grapes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>
        <!-- 6 -->
        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-6.png" alt="img_product-one">
            <h3>Organic Almond</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>
        <!-- 7 -->
        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-7.png" alt="img_product-one">
            <h3>Organic Apple</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>
        <!-- 8 -->
        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-8.png" alt="img_product-one">
            <h3>Organic Cheese</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>
        <!-- 9 -->
        <div class="box2">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>

            <img src="/static/image/product-9.png" alt="img_product-one">
            <h3>Organic Carrot</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price">Rs. 150 <span>Rs.210</span></div>
            <div class="quantity">
                <span>quantity:</span>
                <input type="number" min="1" max="1000" value="1">
                <span>/kg</span>
            </div>

            <a href="#" class="btn">Add to cart</a>

        </div>
    </div>

    <!-- the buying page starts from here -->
    <div class="deal-container" id="vegetables">
        <div class="parallax">
            <div class="title"><h1 class="heading"> <span>Vegitables</span></h1></div>
        </div>

        <!-- alu -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/alu.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>Organic Potato (Pahadi Alu)</b> <br>
                <div class="item-select">
                    price: Rs.15/250grams
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 grams</option>
                    <option> 500 grams</option>
                    <option> 750 grams</option>
                    <option> 1000 grams</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- pyaj -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/onion.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>Organic Onion (Pyaj)</b> <br>
                <div class="item-select">
                    price: Rs.65/250grams
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 grams</option>
                    <option> 500 grams</option>
                    <option> 750 grams</option>
                    <option> 1000 grams</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- vindi -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/okra.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>Organic Okra (Vindi)</b> <br>
                <div class="item-select">
                    price: Rs.25/250grams
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 grams</option>
                    <option> 500 grams</option>
                    <option> 750 grams</option>
                    <option> 1000 grams</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

    </div>
    <!-- vegitable ends here -->

    <!-- Drinks Starts here -->
    <div class="deal-container" id="drinks">
        <div class="parallax">
            <div class="title"> <h1 class="heading"><span>Drinks</span> & <span>Liquors</span></h1> </div>
        </div>

        <!-- Rum -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/rum.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>Khukuri Rum</b> <br>
                <div class="item-select">
                    price: Rs.490/ 250ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- Vodka -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/vodka.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b>8848 Vodka </b> <br>
                <div class="item-select">
                    price: Rs.400 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- Apple cider -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/appli-sider.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> Summerbay </b> <br>
                <div class="item-select">
                    price: Rs.150 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

    </div>
    <!-- Drinks ends here -->

    <!-- Dairy Starts here -->
    <div class="deal-container" id="dairy">
        <div class="parallax">
            <div class="title"> <h1 class="heading"> <span>Dairy</span></h1> </div>
        </div>

        <!-- Rilk -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/milk.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> MILK </b> <br>
                <div class="item-select">
                    price: Rs.45/ 250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- cheese -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/cheese.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHEESE </b> <br>
                <div class="item-select">
                    price: Rs.400 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- ghee -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/ghee.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> GHEE </b> <br>
                <div class="item-select">
                    price: Rs.225 /250 ml.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 ml</option>
                    <option> 500 ml</option>
                    <option> 750 ml</option>
                    <option> 1000 ml</option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

    </div>
    <!-- Dairy ends here -->

    <!-- Frozen items Starts here -->
    <div class="deal-container" id="frozen">
        <div class="parallax">
            <div class="title">
                <h1 class="heading"> Frozen <span>Items</span></h1>
            </div>
        </div>

        <!-- Choco bar -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/choco-bar.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHOCOLATE BARS</b> <br>
                <div class="item-select">
                    price: Rs.150 per piece
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 5</option>
                    <option> 10 </option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- chocolate cake -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/chocolate-cake.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHOCOLATE CAKE </b> <br>
                <div class="item-select">
                    price: Rs.600 /250 pound.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 pound</option>
                    <option> 500 pound</option>
                    <option> 750 pound</option>
                    <option> 1000 pound </option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- chocolate creams -->
        <div class="item">
            <div class="images">
                <img src="/static/image/index/chocolate-cake.jpg" class="item-image-size" alt="img_alu">
            </div>
            <div class="description">
                <b> CHOCOLATE CAKE </b> <br>
                <div class="item-select">
                    price: Rs.600 /250 pound.
                </div>

                <label > Quantity</label>
                <select class="item-select">
                    <option> 250 pound</option>
                    <option> 500 pound</option>
                    <option> 750 pound</option>
                    <option> 1000 pound </option>
                </select> <br>

                <button class="buynow-btn">Buy now</button>
            </div>
        </div>

        <!-- This is Back To Top button -->
    <div>
        <button class="backtotop">
            <img src="/static/image/index/acktotop.png" style="width: 8%;" alt="img_backtobutton">
        </button>
    </div>

    </div>
</section>


<!-- product section ends  -->


<!-- Contact section starts  -->
<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span>us</h1>

    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">

        </div>

        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>

        <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

        <input type="submit" value="sent message" class="btn">

    </form>

</section>


{% endblock %}