{% extends 'base.html' %} {% block content %}

<a href="#home"> <img src="/static/image/header/backtotop.png" style="width: 3%; position:fixed; top: 640px; left: 1350px;z-index: 1;"  alt=""> </a>
<div class="container-content">
    
    <a href="#vegetables">
        <div class="categories">
            <img src="/static/image/index/alu.jpg" class="item-image">
            <div class="image-title" style="font-size: large;"> VEGETABLES</div>
        </div>
    </a>
  
    <a href="#drinks">
        <div class="categories">
            <img src="/static/image/index/drinks.jpg" class="item-image">
            <div class="image-title" style="font-size: large;"> DRINKS</div>
        </div>
    </a>
  
    <a href="#dairy">
        <div class="categories">
            <img src="/static/image/index/dairy.jpg" class="item-image">
            <div class="image-title" style="font-size: large;"> DARIY</div>
        </div>
    </a>
  
    <a href="#frozen">
        <div class="categories">
            <img src="/static/image/index/icecream.jpg" class="item-image">
            <div class="image-title" style="font-size: large;"> FROZEN ITEMS</div>
        </div>
    </a>
  </div>
  
  <!-- Homepage End -->
  
  
  <!-- Deal  -->
  
  <div class="container-content" id="deals">
    <div class="parallax">
        <div class="title"> DEALS </div>
    </div>
    <div class="deal">
        save 20% on min-price of rs.250 on vetables <br>
        <button class="coupon-btn">Add Coupon</button>
    </div>
  
    <div class="deal">
        save 5% on min-price of rs.250 on Dairy <br>
        <button class="coupon-btn">Add Coupon</button>
    </div>
  
    <div class="deal">
        save 10% on min-price of rs.150 on Drinks <br>
        <button class="coupon-btn">Add Coupon</button>
    </div>
    <div class="deal">
        save 10% on min-price of rs.150 on Ice <br>
        <button class="coupon-btn">Add Coupon</button>
    </div>
  </div>
  
  <!-- Deal Ends -->
  
  <!-- vegitable Starts here -->
  <div class="deal-container" id="vegetables">
    <div class="parallax">
        <div class="title"> VEGETABLES </div>
    </div>
  
    <!-- alu -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/alu.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b>Organic Potato (Pahadi Alu)</b> <br>
            <div class="item-select">
                price: Rs.15/250grams
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 grams</option>
                <option> 500 grams</option>
                <option> 750 grams</option>
                <option> 1000 grams</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- pyaj -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/onion.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b>Organic Onion (Pyaj)</b> <br>
            <div class="item-select">
                price: Rs.65/250grams
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 grams</option>
                <option> 500 grams</option>
                <option> 750 grams</option>
                <option> 1000 grams</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- vindi -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/okra.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b>Organic Okra (Vindi)</b> <br>
            <div class="item-select">
                price: Rs.25/250grams
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 grams</option>
                <option> 500 grams</option>
                <option> 750 grams</option>
                <option> 1000 grams</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
  </div>
  <!-- vegitable ends here -->
  
  <!-- Drinks Starts here -->
  <div class="deal-container" id="drinks">
    <div class="parallax">
        <div class="title"> DRINKS </div>
    </div>
  
    <!-- Rum -->
    <div class="item">
      <div class="images">
          <img src="/static/image/index/rum.jpg" class="item-image-size" alt="img_alu">
      </div>
      <div class="description">
          <b>8848 Vodka </b> <br>
          <div class="item-select">
              price: Rs.400 /250 ml.
          </div>
  
          <label > Quantity</label>
          <select class="item-select">
              <option> 250 ml</option>
              <option> 500 ml</option>
              <option> 750 ml</option>
              <option> 1000 ml</option>
          </select> <br>
  
          <button class="buynow-btn">Buy now</button>
      </div>
  </div>
  
    <!-- Vodka -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/vodka.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b>8848 Vodka </b> <br>
            <div class="item-select">
                price: Rs.400 /250 ml.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 ml</option>
                <option> 500 ml</option>
                <option> 750 ml</option>
                <option> 1000 ml</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- Apple cider -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/appli-sider.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> Summerbay </b> <br>
            <div class="item-select">
                price: Rs.150 /250 ml.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 ml</option>
                <option> 500 ml</option>
                <option> 750 ml</option>
                <option> 1000 ml</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
  </div>
  <!-- Drinks ends here -->
  
  <!-- Dairy Starts here -->
  <div class="deal-container" id="dairy">
    <div class="parallax">
        <div class="title"> DAIRY </div>
    </div>
  
    <!-- Rilk -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/milk.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> MILK </b> <br>
            <div class="item-select">
                price: Rs.45/ 250 ml.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 ml</option>
                <option> 500 ml</option>
                <option> 750 ml</option>
                <option> 1000 ml</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- cheese -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/cheese.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> CHEESE </b> <br>
            <div class="item-select">
                price: Rs.400 /250 ml.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 ml</option>
                <option> 500 ml</option>
                <option> 750 ml</option>
                <option> 1000 ml</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- ghee -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/ghee.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> GHEE </b> <br>
            <div class="item-select">
                price: Rs.225 /250 ml.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 ml</option>
                <option> 500 ml</option>
                <option> 750 ml</option>
                <option> 1000 ml</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
  </div>
  <!-- Dairy ends here -->
  
  <!-- Frozen items Starts here -->
  <div class="deal-container" id="frozen">
    <div class="parallax">
        <div class="title"> FROZEN ITEMS </div>
    </div>
  
    <!-- Choco bar -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/choco-bar.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> CHOCOLATE BARS</b> <br>
            <div class="item-select">
                price: Rs.150 per piece
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 2 </option>
                <option> 3 </option>
                <option> 5</option>
                <option> 10 </option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- chocolate cake -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/chocolate-cake.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> CHOCOLATE CAKE </b> <br>
            <div class="item-select">
                price: Rs.600 /250 pound.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 250 pound</option>
                <option> 500 pound</option>
                <option> 750 pound</option>
                <option> 1000 pound </option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
    <!-- chocolate creams -->
    <div class="item">
        <div class="images">
            <img src="/static/image/index/choco_cake.jpg" class="item-image-size" alt="img_alu">
        </div>
        <div class="description">
            <b> ICE CREAMS </b> <br>
            <div class="item-select">
                price: Rs.350 /250 ml.
            </div>
  
            <label > Quantity</label>
            <select class="item-select">
                <option> 2 </option>
                <option> 3 </option>
                <option> 5</option>
                <option> 10</option>
            </select> <br>
  
            <button class="buynow-btn">Buy now</button>
        </div>
    </div>
  
  </div>

  

  <!-- Frozen items ends here -->
  
  <!-- Homepage ends -->

{% endblock %}
