<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/LBkirana.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css'%}" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register | LB_Kirana</title>

  </head>

  <body>

    <div class="container-fluid background ">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-4 col-sm-4 col-xm-12">
              <!-- Form starts here  -->
                <form class="form-container" action="#" method="POST" class="register">
                  
                  <form action="" class="mt-5 border bg-light"class="form-container" action="#" method="POST">
                    {% csrf_token %}

                    <div class="text-center">
                      <p class="font">  Register </p>
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-md-6 ">
                            <label for="exampleInputUsername" style="color: white;">First Name</label>
                            <input type="text" name="customer_fname" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="exampleInputUsername" style="color: white;">User Last Name</label>
                            <input type="text" name="customer_lname" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>

                        <div class="mb-3 col-md-12">
                            <label for="exampleInputEmail1" style="color: white;">Email Address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="exampleInputUsername" style="color: white;">Number </label>
                            <input type="Number" name="number" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="exampleInputPassword1" style="color: white;">Password</label>
                            <input type="Password" name="password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="exampleInputPassword2" style="color: white;">confirm Password</label>
                            <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword2" placeholder="Re Enter Password">
                        </div>

                        <button type="submit" class="btn btn-sucess btn-block " style="background-color: lawngreen; margin-top:8px;"> Register </button>

                    </div>
                    
                </form>  

                  

                  
              <!-- Form ends here  -->
          </div>
          <div class="col-md-4 col-sm-4 col-xm-12"></div>
      </div>
  </div>

  </body>
</html>
