<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/LBkirana.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css'%}" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register | LB_Kirana</title>

  </head>

  <body>

    <div class="container-fluid background ">
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-4 col-sm-4 col-xm-12">
              <!-- Form starts here  -->

                <form class="form-container" action="#" method="POST" class="register">
                  {% csrf_token %}

                  <div class="text-center">
                      <p class="font">Register </p>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername" style="color: white;">User Name</label>
                    <input type="username" name="username" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" style="color: white;">Email Address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1" style="color: white;">Password</label>
                      <input type="Password" name="password" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword2" style="color: white;">Rewrite Password</label>
                      <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword2" placeholder="Re Enter Password">
                    </div>
                  <div class="form-check text-center" >
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label " >Agree all Terms & condition</label>
                  </div>
                  <button type="submit" class="btn btn-sucess btn-block " style="background-color: lawngreen; margin-top:8px;"> Register </button>
                </form>
              <!-- Form ends here  -->
          </div>
          <div class="col-md-4 col-sm-4 col-xm-12"></div>
      </div>
  </div>

  </body>
</html>
