{% extends 'base.html' %} {% block content %}
<div class="contactus">

    <div class="text-center"> 
        <p class="font">Terms and condition</b> </p>
        
        <p>
            Innovative Retail Concepts Pvt Ltd (“IRCPL”) is the licensed owner 
            of the brand bigbasket.com and the website bigbasket.com (”The Site”) from Supermarket 
            Grocery Supplies Pvt Ltd (“SGSPL”). As a visitor to the Site/ Customer you are advised 
            to please read the Term & Conditions carefully. By accessing the services provided by 
            the Site you agree to the terms provided in this Terms & Conditions document.
        </p>
    </div>

    <div class="terms mt-5 ml-0">
    <dl class="row">
        

        <dt class="col-sm-3 mt-5">Eligibility</dt>
        <dd class="col-sm-9 mt-5">
            <p>Services of the Site would be available to only select geographies in India. Persons 
                who are "incompetent to contract" within the meaning of the Indian Contract Act, 1872
                 including un-discharged insolvents etc. are not eligible to use the Site.</p>
            <p>If you are a minor i.e. under the age of 18 years but at least 13 years of age you may
                 use the Site only under the supervision of a parent or legal guardian who agrees to
                  be bound by these Terms of Use. If your age is below 18 years your parents or legal 
                  guardians can transact on behalf of you if they are registered users. You are prohibited 
                  from purchasing any material which is for adult consumption and the sale of which to
                  minors is prohibited</p>
        </dd>

        <dt class="col-sm-3">Pricing</dt>
        <dd class="col-sm-9">All the products listed on the Site will be sold at MRP unless otherwise 
            specified. The prices mentioned at the time of ordering will be the prices charged on the
             date of the delivery. Although prices of most of the products do not fluctuate on a daily 
             basis but some of the commodities and fresh food prices do change on a daily basis. In case
              the prices are higher or lower on the date of delivery not additional charges will be 
              collected or refunded as the case may be at the time of the delivery of the order.</dd>

        <dt class="col-sm-3 text-truncate pull-left">You Agree and Confirm</dt>
        <dd class="col-sm-9">
            <p>1. That in the event that a non-delivery occurs on account of a mistake by you 
                (i.e. wrong name or address or any other wrong information) any extra cost incurred by IRCPL for redelivery shall be claimed from you.</p>
            <p>2. That you will use the services provided by the Site, its affiliates, consultants and contracted companies, for lawful purposes only 
                and comply with all applicable laws and regulations while using and transacting on the Site.</p>

            <p>3, You will provide authentic and true information in all instances where such information is requested of you. IRCPL reserves the right 
                to confirm and validate the information and other details provided by you at any point of time. If upon confirmation your details are 
                found not to be true (wholly or partly), it has the right in its sole discretion to reject the registration and debar you from using 
                the Services and / or other affiliated websites without prior intimation whatsoever.</p>
            <p>4. You authorise bigbasket to contact you for any transactional purposes related to your order/account.</p>
        </dd>

    </dl>
</div>
</div>

{% endblock %}